body {
    background: url(https://images.pexels.com/photos/413195/pexels-photo-413195.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)
}

.container {
    max-width: 80%;
    background-color: lightblue;
    padding: 2%;
    opacity: 0.93;
    margin-top: 2%;    
}

header{
    background-color: lightcoral;
}

h1{
    color: white;
    font-family: cursive;
}

#search {
    float: right;
}
.button {
    background-color: black;
    border: 1px dotted;
    color: white;
    font-size: 15px;
    padding: 10px;
    margin:3px;
    border-radius: 10px;
}

.dogDIV {
    height: 200px;

}
.rating {
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.gifs{
    height: 150px;
}
